@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}


body, html{
  width:100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  min-height: 100%;
  font-family: Roboto;
}

body{
    background-color: #444444;
}

header{
    background-color: #eee;
    height: 20px;
    border-bottom: 1px solid #868686;
    text-align: center;
}

#logo{
    height: 100%;
    margin-left: 5px;
    float: left;
}

#logo-title{
    height: 20px;
    margin-left: 5px;
    float: left;
}


#bt-closesetting{
    height: 20px;
    margin-left: 5px;
    float: right;
}

#content-left{
    width: 250px;
    height: calc(100% - 40px);
    border-right: solid 1px #1a1a1a;
    float: left;
}

#content-main{
    width: calc(100% - 251px);
    height: calc(100% - 40px);
    background-color: #2e2e2e;
    float: left;
}

#list-file{
    padding: 10px;
    color: #cecece;
}

.item-list-file{
    height: 20px;
    margin-bottom: 10px;
}

.item-list-file.active{
    background-color: #4270b9;
}

.item-list-file:hover{
    cursor: pointer;
	 background-color: #4270b9;
}

.item-list-file img{
    position: relative;
    top:2px;
    margin-right: 5px;
    margin-left: 5px;
    height: 15px;
}

#post-selected{
	background-color: #888;
}
#head-list-file{
  height: 25px;
  width: 100%;
  background-color: #2e2e2e;
  border-bottom: solid 1px #1a1a1a;
  color: #cecece;
}

.item-head-list-file{
    height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.item-head-list-file img{
    position: relative;
    top:2px;
    margin-right: 5px;
    margin-left: 5px;
    height: 15px;
}

#content-edit{
    margin-top: 50px;
    margin-left: 50px;
    width: 90%;
    color: #cecece;
    display: none;
}

.inp-text{
    border-radius: 5px;
    border:  1px solid #1a1a1a;
    padding-left: 10px;
    background-color: #383838;
    margin-right: 10px;
}


.area-text{
    border-radius: 5px;
    border:  1px solid #1a1a1a;
    padding-left: 0px;
    background-color: #383838;
    margin-right: 10px;
    height: 100px;
}

.area-text.larger{
    height: 350px;
}



input{
    background: none;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #cecece;
    height: 25px;
}
textarea:focus, input:focus{
    outline: none;
}

.title-inp{
    font-size: 17px;
    margin-top: 10px;
    display: block;
}

.inp-text.litle{
    width: calc( 100% - 25px);
}

.inp-text.midle{
    width: 645px;
}

.left{
     float: left;
     width: 50%;
 }

textarea{
    background: transparent;
    resize: none;
    border: 0 none;
    width: 1050px;
    height: 100px;
    outline: none;
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
    font-size: 15px;
    color: #cecece;
}

#inp-text-content{
    height: 400px !important;
}

#menu-edit{
    height: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
}

#menu-edit img{
    width: 20px;
    height: 20px;
}

#menu-edit img:hover{
    cursor: pointer;
}


#inp-text-content2{
    width: 100%;
    height: 100%;
    border: none;
    overflow: scroll;
    text-overflow: clip;
}

#inp-text-content2 body{
    /*color: #cecece;*/
}


#bt-textmode{
    display: none;
}


#main-bar{
    width: 100%;
    height: 20px;
    background-image: url('../ui/bar.png');
    background-size: contain;

    padding-top: 2px;
    padding-bottom: 2px;

}

#main-bar span{
    padding-left: 5px;
    padding-right: 5px;
    color: #cecece;
    font-size: 13px;
    border-right: solid 1px #cecece;
}
#main-bar span:hover{
    cursor: pointer;
}

#panel-setting{
    display: none;
    position: fixed;
    z-index: 999;
    top: 200px;
    left: calc(50% - 200px);
    height: 260px;
    width: 400px;
    background-color: #cecece;
    border: solid 1px #1a1a1a;
    padding: 10px;
    color: #cecece;
}
#panel-setting .container{
    background-color: #4d4d4d;
    width: 380px;
    height: 210px;
    padding: 10px;
}
#panel-setting .title{
    font-size: 15px;
    height: 30px;
    text-align: center;
    color: #1a1a1a;
}

.bt-default{
    margin-top: 10px;
    width: 80px;
    border-radius: 10px;
    background-color: #333333;
    border: solid 1px #1a1a1a;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

.bt-default:hover{
    cursor: pointer;
    background-color: #575757;
}